huggingface-hub
sentence-transformers

Flask
Werkzeug
flask-cors

langchain
tiktoken
unstructured
unstructured[local-pdf]
unstructured[local-inference]

llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
torch
S3FileSystem
llama-index-vector-stores-chroma
